@import url('https://fonts.googleapis.com/css?family=Niramit');

*{
    font-family: "Niramit", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: url('images/blooming-blur-close-up-459059_720.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: grid;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px calc(50% - 50px) calc(50% - 50px) 50px;
    background-color: #0006;
}

#offline{
    background-color: red;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    opacity: 0.3;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: 401;
}

.menu{
    background: lightblue;
    grid-column: 1/4;
    display: grid;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #0000004d;
}

.sidebar{
    grid-row: 2/4;
    display: grid;
}

.sidebar img{
    max-width: 200px;
    max-height: 200px;
    box-shadow: 4px 4px 0px #dedede66;
    margin: auto;
}

a{
    min-width: 48px;
    min-height: 48px;
    align-items: center;
    display: grid;
    justify-content: center;
}

.konten{
    grid-column: 2/4;
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: #0000004d;
}

.footer{
    background: #be8bffe6;
    grid-column: 1/4;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-top: 1px solid #0000004d;
}

.footer a{
    display: grid;
}

.footer a img{
    border: dashed 2px;
    padding: 2px;
}

.footer a img:hover{
    border-color: white;
}

.menu img{
    border-radius: 50%;
}

.button-konten{
    background-color: white;
    border: 1px solid #673AB7;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 0px #dedede66;
    text-decoration: none;
}

.button-konten:hover{
    background-color: #E91E63;
    color: white;
}