@import url('https://fonts.googleapis.com/css?family=Niramit');

*{
    font-family: "Niramit", sans-serif;
}

.container{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 100px 100px 50px;
    grid-gap: 4px;
}

.menu{
    background: lightblue;
    grid-column: 1/4;
    display: grid;
    align-items: center;
    padding-left: 20px;
}

.sidebar{
    background: lightyellow;
    grid-row: 2/4;
    display: grid;
    /* align-items: center;
    justify-content: center; */
}

.sidebar img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.konten{
    background: #4dff96;
    grid-column: 2/4;
}

.footer{
    background: #be8bff;
    grid-column: 1/4;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.footer a{
    display: grid;
}

.footer a img{
    border: dashed 2px;
    padding: 2px;
}

.menu img{
    border-radius: 50%;
}